
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     <div style="width: 60%; text-align:center; margin: 0 auto;">
        Welcome <b>@ViewBag.Name.ToUpper()</b>, you have been authorized now!
    </div>
</body>
</html>
